<section id="cases" class="case section">
  <div class="case__container container">
    <div class="case__intro">
      <p class="case__subtitle">This is what we do</p>
      <h2 class="case__title">Business Cases</h2>
      <p class="case__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, sapiente!
      </p>
    </div>
    <div class="case__gallery">
      <ul class="case__list">
        <li class="case__item">
          <a href="./img/img-test/cases/cases1.jpg" data-lightbox="case" data-title="Case">
            <picture>
            <source
              srcset="
                ./img/img-test/cases/cases1.webp    1x,
                ./img/img-test/cases/cases1@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                ./img/img-test/cases/cases1.jpg    1x,
                ./img/img-test/cases/cases1@2x.jpg 2x
              "
            />
            <img src="./img/img-test/cases/cases1.jpg" alt="Team picture" />
            </picture>
          </a>
        </li>
        <li class="case__item">
          <a href="./img/img-test/cases/cases2.jpg" data-lightbox="case" data-title="Case">
          <picture>
              <source
                srcset="
                  ./img/img-test/cases/cases2.webp    1x,
                  ./img/img-test/cases/cases2@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  ./img/img-test/cases/cases2.jpg    1x,
                  ./img/img-test/cases/cases2@2x.jpg 2x
                "
              />
              <img src="./img/img-test/cases/cases2.jpg" alt="Team picture" />
            </picture>
          </a>
        </li>
        <li class="case__item">
          <a href="./img/img-test/cases/cases3.jpg" data-lightbox="case" data-title="Case">
          <picture>
              <source
                srcset="
                  ./img/img-test/cases/cases3.webp    1x,
                  ./img/img-test/cases/cases3@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  ./img/img-test/cases/cases3.jpg    1x,
                  ./img/img-test/cases/cases3@2x.jpg 2x
                "
              />
              <img src="./img/img-test/cases/cases3.jpg" alt="Team picture" />
            </picture>
          </a>
        </li>
        <li class="case__item">
          <a href="./img/img-test/cases/cases4.jpg" data-lightbox="case" data-title="Case">
          <picture>
              <source
                srcset="
                  ./img/img-test/cases/cases4.webp    1x,
                  ./img/img-test/cases/cases4@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  ./img/img-test/cases/cases4.jpg    1x,
                  ./img/img-test/cases/cases4@2x.jpg 2x
                "
              />
              <img src="./img/img-test/cases/cases4.jpg" alt="Team picture" />
            </picture>
          </a>
        </li>
        <li class="case__item">
          <a href="./img/img-test/cases/cases5.jpg" data-lightbox="case" data-title="Case">
          <picture>
              <source
                srcset="
                  ./img/img-test/cases/cases5.webp    1x,
                  ./img/img-test/cases/cases5@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  ./img/img-test/cases/cases5.jpg    1x,
                  ./img/img-test/cases/cases5@2x.jpg 2x
                "
              />
              <img src="./img/img-test/cases/cases5.jpg" alt="Team picture" />
            </picture>
          </a>
        </li>
        <li class="case__item">
          <a href="./img/img-test/cases/cases6.jpg" data-lightbox="case" data-title="Case">
          <picture>
              <source
                srcset="
                  ./img/img-test/cases/cases6.webp    1x,
                  ./img/img-test/cases/cases6@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  ./img/img-test/cases/cases6.jpg    1x,
                  ./img/img-test/cases/cases6@2x.jpg 2x
                "
              />
              <img src="./img/img-test/cases/cases6.jpg" alt="Team picture" />
            </picture>
          </a>
        </li>
        <li class="case__item">
          <a href="./img/img-test/cases/cases7.jpg" data-lightbox="case" data-title="Case">
          <picture>
              <source
                srcset="
                  ./img/img-test/cases/cases7.webp    1x,
                  ./img/img-test/cases/cases7@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  ./img/img-test/cases/cases7.jpg    1x,
                  ./img/img-test/cases/cases7@2x.jpg 2x
                "
              />
              <img src="./img/img-test/cases/cases7.jpg" alt="Team picture" />
            </picture>
          </a>
        </li>
        <li class="case__item">
          <a href="./img/img-test/cases/cases8.jpg" data-lightbox="case" data-title="Case">
          <picture>
              <source
                srcset="
                  ./img/img-test/cases/cases8.webp    1x,
                  ./img/img-test/cases/cases8@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  ./img/img-test/cases/cases8.jpg    1x,
                  ./img/img-test/cases/cases8@2x.jpg 2x
                "
              />
                <img src="./img/img-test/cases/cases8.jpg" alt="Team picture" />
            </picture>
            </a>
        </li>
        </ul>
    </div>
    </div>
</section>