<footer class="footer">
    <div class="footer__container container">
        <ul class="footer__icons">
        <li>
            <a href="" class="footer__link">
            <svg style="width: 35px; height: 35px">
                <use href="./img/icons.svg#icon-new-facebook"></use>
            </svg>
            </a>
        </li>
        <li>
            <a href="" class="footer__link">
            <svg style="width: 35px; height: 35px">
                <use href="./img/icons.svg#icon-twitter-1"></use>
            </svg>
            </a>
        </li>
        <li>
            <a href="" class="footer__link">
            <svg style="width: 40px; height: 35px">
                <use href="./img/icons.svg#icon-youtube"></use>
            </svg>
            </a>
        </li>
        <li>
            <a href="" class="footer__link">
            <svg style="width: 35px; height: 35px">
                <use href="./img/icons.svg#icon-linkedin-1"></use>
            </svg>
            </a>
        </li>
        </ul>
        <p class="footer__copyright">Copyright © 2021 - FinanceLedger</p>
    </div>
</footer>