<section class="team section">
  <div class="container">
    <div class="case__intro">
      <p class="case__subtitle">Who we are</p>
      <h2 class="case__title">Our Professional Team</h2>
      <p class="case__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, sapiente!
      </p>
    </div>
    <ul class="team__cards card-team">
      <li class="card-team__item">
        <div class="card-team__picture">
          <picture>
            <source
              srcset="
                ./img/img-test/team/person1.webp    1x,
                ./img/img-test/team/person1@2x.webp 2x
              "
              media="(min-width: 1360px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/img-test/team/person1.jpg    1x,
                ./img/img-test/team/person1@2x.jpg 2x
              "
              media="(min-width: 1360px)"
            />
            <img src="./img/img-test/team/person1.jpg" alt="Фото члена команды" />
          </picture>
          <ul class="card-team__icons">
            <li>
              <a href="" class="card-team__links">
                <svg style="width: 35px; height: 35px">
                  <use href="./img/icons.svg#icon-new-facebook"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="" class="card-team__links">
                <svg style="width: 35px; height: 35px">
                  <use href="./img/icons.svg#icon-twitter-1"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="" class="card-team__links">
                <svg style="width: 35px; height: 35px">
                  <use href="./img/icons.svg#icon-youtube"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="" class="card-team__links">
                <svg style="width: 35px; height: 35px">
                  <use href="./img/icons.svg#icon-linkedin-1"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <div class="card-team__content">
          <h3 class="card-team__title">John Doe</h3>
          <p class="card-team__text">President</p>
        </div>
      </li>
      <li class="card-team__item">
        <div class="card-team__picture">
          <picture>
            <source
              srcset="
                ./img/img-test/team/person2.webp    1x,
                ./img/img-test/team/person2@2x.webp 2x
              "
              media="(min-width: 1360px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/img-test/team/person2.jpg    1x,
                ./img/img-test/team/person2@2x.jpg 2x
              "
              media="(min-width: 1360px)"
            />
            <img src="./img/img-test/team/person2.jpg" alt="Фото члена команды" />
          </picture>
          <ul class="card-team__icons">
            <li>
              <a href="" class="card-team__links">
                <svg style="width: 35px; height: 35px">
                  <use href="./img/icons.svg#icon-new-facebook"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="" class="card-team__links">
                <svg style="width: 35px; height: 35px">
                  <use href="./img/icons.svg#icon-twitter-1"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="" class="card-team__links">
                <svg style="width: 35px; height: 35px">
                  <use href="./img/icons.svg#icon-youtube"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="" class="card-team__links">
                <svg style="width: 35px; height: 35px">
                  <use href="./img/icons.svg#icon-linkedin-1"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <div class="card-team__content">
          <h3 class="card-team__title">Jane Doe</h3>
          <p class="card-team__text">Vice President</p>
        </div>
      </li>
      <li class="card-team__item">
        <div class="card-team__picture">
          <picture>
            <source
              srcset="
                ./img/img-test/team/person3.webp    1x,
                ./img/img-test/team/person3@2x.webp 2x
              "
              media="(min-width: 1360px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/img-test/team/person3.jpg    1x,
                ./img/img-test/team/person3@2x.jpg 2x
              "
              media="(min-width: 1360px)"
            />
            <img src="./img/img-test/team/person3.jpg" alt="Фото члена команды" />
            </picture>
            <ul class="card-team__icons">
            <li>
                <a href="" class="card-team__links">
                <svg style="width: 35px; height: 35px">
                    <use href="./img/icons.svg#icon-new-facebook"></use>
                </svg>
                </a>
            </li>
            <li>
                <a href="" class="card-team__links">
                <svg style="width: 35px; height: 35px">
                    <use href="./img/icons.svg#icon-twitter-1"></use>
                </svg>
                </a>
            </li>
            <li>
                <a href="" class="card-team__links">
                <svg style="width: 35px; height: 35px">
                    <use href="./img/icons.svg#icon-youtube"></use>
                </svg>
                </a>
            </li>
            <li>
                <a href="" class="card-team__links">
                <svg style="width: 35px; height: 35px">
                    <use href="./img/icons.svg#icon-linkedin-1"></use>
                </svg>
                </a>
            </li>
            </ul>
        </div>
        <div class="card-team__content">
            <h3 class="card-team__title">Steve Smith</h3>
            <p class="card-team__text">Marketing Head</p>
        </div>
        </li>
    </ul>
    </div>
</section>